@font-face {
  font-family: "PrataRegular";
  src: local("PrataRegular"), local("Prata-Regular"), url("./fonts/Prata/Prata-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "DMSansRegular";
  src: local("DMSansRegular"), local("DMSans-Regular"), url("./fonts/DM_Sans/DMSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "DMSansItalic";
  src: local("DMSansItalic"), local("DMSans-Italic"), url("./fonts/DM_Sans/DMSans-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "DMSansMedium";
  src: local("DMSansMedium"), url("./fonts/DM_Sans/DMSans-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "DMSansMediumItalic";
  src: local("DMSansMediumItalic"), url("./fonts/DM_Sans/DMSans-MediumItalic.ttf") format("truetype");
}

@font-face {
  font-family: "DMSansBold";
  src: local("DMSansBold"), url("./fonts/DM_Sans/DMSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "DMSansBoldItalic";
  src: local("DMSansBoldItalic"), url("./fonts/DM_Sans/DMSans-BoldItalic.ttf") format("truetype");
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root, body, html {
  width: 100%;
  height: 100%;
}